<h1>Login</h1>
<form action="/api/home-page/login" method="POST">
  <label for="name">Name</label>
  <br>
  <input type="name" name="name" placeholder="Enter Name">
  <br>
  
  <label for="email">Email</label>
  <br>
  <input type="email" name="email" placeholder="Enter Email">
  <br>

  <label for="email">Password</label>
  <br>
  <input type="password" name="password" placeholder="Enter Password">
  <br>

  <button type="submit">Login</button>
</form>